/* Write your global styles here, in PostCSS syntax */
html, body { @apply h-full overflow-hidden; }
 p{margin: 10px 0;}
 a{word-break: break-word; color: rgb(var(--color-tertiary-300)); outline : none; text-decoration: underline;}
 a img {outline : none;}
 blockquote{border-left: 2px solid rgb(var(--color-surface-100)); padding-left: 0.5rem;}

